{% extends "admin_base.html" %}

{% block content %}
<div class="container">
    <h2 class="text-center mt-4">Admin Dashboard</h2>
    <!-- Parking Slot Table -->
    <h4 class="text-center">Currently Parked Vehicles</h4>
    <table class="table table-bordered table-striped mt-3">
        <thead>
            <tr>
                <th>Parking Slot</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>License Plate</th>
                <th>Make</th>
                <th>Model</th>
                <th>Entry Time</th>
                <th>Exit Time</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in active_transactions %}
            <tr>
                <td>{{ transaction.SlotNumber }}</td>
                <td>{{ transaction.FirstName }}</td>
                <td>{{ transaction.LastName }}</td>
                <td>{{ transaction.LicensePlate }}</td>
                <td>{{ transaction.Make }}</td>
                <td>{{ transaction.Model }}</td>
                <td>{{ transaction.EntryTime }}</td>
                <td>{{ transaction.ExitTime if transaction.ExitTime else "Still Parked" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
